<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football Management</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="layout.html :: navbar"></div>
    <h1 class="text-center p-2 text-primary">Football-Player Management</h1>
    <p th:text="${#messages}"></p>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <i class="bi bi-plus"></i> Add new FootballPlayer
    </button>
    <span>
 <form class="form-inline my-2 my-lg-0 mt-auto mr-2">
    <label for="page1"></label>
    <input th:value="${pageSizeInput}" class="form-control mr-sm-2" type="text" id="page1" name="pageSizeInput"
           placeholder="Please enter Page size">
    <small id="helpId1" class="form-text text-muted">Default value 5 item per page</small>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
</form>
        <h3 class="text-center p-2 text-primary">Number of players registered to play football : <span name="footballPlayers"></span></h3>
</span>
    <span>
    <form th:action="@{/football-management(page = ${footballPlayerList.number - 1}, name = ${nameSearch})}"
          method="get">
    <label for="from">From:</label>
    <input class="form-control mr-sm-2" type="date" pattern="yyyy-MM-dd" id="from" name="from">
    <label for="to">To:</label>
    <input class="form-control mr-sm-2" type="date" id="to" name="to"><br><br>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
    </form>
</span>

    <p th:text="${message}" style="color: red"></p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>STT</th>
            <th>Id</th>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Experience</th>
            <th>Position</th>
            <th>Team</th>
            <th>Register Player</th>
            <th>Avatar</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player, count:${footballPlayerList}">
            <td th:text="${count.count}"></td>
            <td th:text="${player.getId()}"></td>
            <td th:text="${player.getName()}"></td>
            <td th:text="${player.getDateOfBirth()}"></td>
            <td th:text="${player.getExperience()}"></td>
            <td th:text="${player.getPosition()}"></td>
            <td th:text="${player.getTeams()?.getName()}"></td>
            <td><img th:src="${player.getImg()}" th:height="200px" alt="None">
            <td th:text="${player.getStatus()}"></td>
            <td>
                <a th:href="@{/football-management/update/{id}(id=${player.getId()})}">
                    <button class="btn btn-primary btn-sm">Update</button>
                </a>
            </td>
            <td>
                <button type="button" th:attr="onclick=|info('${player.getId()}','${player.getName()}')|"
                        class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                </button>
            </td>
            <td>
                <a th:href="@{/football-management/detail/{id}(id=${player.getId()})}">
                    <button type="submit" class="btn btn-secondary btn-sm">Detail</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-center" id="random1">
        <a class="page-item btn btn-dark active1" th:if="${footballPlayerList.hasPrevious()}"
           th:href="@{/football-management(page = ${footballPlayerList.number - 1}, name = ${nameSearch}, pageSizeInput=${pageSize})}">
            <i class="ti-angle-left">Previous</i>
        </a>

        <a class="page-item number btn btn-dark active1"
           th:classappend="${pageNumber == footballPlayerList.number + 1} ? 'active' : ''"
           th:each="pageNumber : ${pageNumberList}"
           th:href="@{/football-management(page = ${pageNumber - 1},name = ${nameSearch}, pageSizeInput=${pageSize})}"
           th:text="${pageNumber}">
        </a>

        <a class="page-item btn btn-dark active1" th:if="${footballPlayerList.hasNext()}"
           th:href="@{/football-management(page = ${footballPlayerList.number + 1}, name =${nameSearch}, pageSizeInput=${pageSize})}">
            <i class="ti-angle-right">Next</i>
        </a>
        <form class="form-inline my-2 my-lg-0 mt-auto mr-2">
            <label for="page"></label>
            <input class="form-control mr-sm-2" type="number" id="page" name="page" placeholder="Please enter Page size">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
        </form>
    </div>

<!--Modal create-->

<!--<div th:class="${hasErrors == 'true' ? 'modal fade show' : 'modal fade'}"-->
<!--     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="exampleModal2"-->
<!--     th:style="${hasErrors == 'true' ? 'display: block' : 'display: none'}"-->
<!--&gt;-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">Create new FootballPlayer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/football-management/create}" id="playerCreate" th:object="${footballPlayerDTO}"
                      method="post">
                    <div class="mb-3">
                        <input type="hidden" th:field="*{id}" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail2" class="form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="exampleInputEmail2"
                               aria-describedby="emailHelp">
                        <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="hasErrors"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail3" class="form-label">Birthday</label>
                        <input type="text" th:field="*{dateOfBirth}" class="form-control" id="exampleInputEmail3"
                               aria-describedby="emailHelp" required>
                        <p style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                           class="hasErrors"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail4" class="form-label">Experience</label>
                        <input type="text" th:field="*{experience}" class="form-control" id="exampleInputEmail4"
                               aria-describedby="emailHelp" required>
                        <p style="color: red" th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}"
                           class="hasErrors"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail15" required class="form-label">Position</label>
                        <input type="text" th:field="*{position}" class="form-control" id="exampleInputEmail15"
                               aria-describedby="emailHelp">
                        <p style="color: red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"
                           class="hasErrors"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail6" class="form-label">Register Play</label>
                        <input type="text" th:field="*{status}" class="form-control" id="exampleInputEmail22"
                               aria-describedby="emailHelp" required>
                        <p style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="hasErrors"></p>
                           class="hasErrors"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail6" class="form-label">Avatar</label>
                        <input type="text" th:field="*{img}" class="form-control" id="exampleInputEmail6"
                               aria-describedby="emailHelp" required>
                        <p style="color: red" th:if="${#fields.hasErrors('img')}" th:errors="*{img}"
                           class="hasErrors"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail7" class="form-label">Team :</label>
                        <select th:field="*{teams}" class="form-select" id="exampleInputEmail7">
                            <option th:each="team: ${teams}" th:text="${team.name}" th:value="${team.id}"
                                    class="hasErrors"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" id="submit-btn" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<%Modal Delete>-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Box</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/football-management/delete">
                <div class="modal-body">
                    <input hidden type="text" id="idDelete" name="idDelete">
                    <span>You may want to delete </span><span style="color: red" class="fw-bolder"
                                                              id="nameDelete"></span> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="layout.html :: footer"></div>
</body>
<script>
    function info(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }

    function checkErrors(event) {
        $("#playerCreate").submit();
        // event.preventDefault()
        const form = document.getElementById('playerCreate');
        const hasErrors = form.querySelector('.hasErrors') !== null;

        if (hasErrors) {
            // Hiển thị modal và hiển thị thông báo lỗi
            const errorMessage = form.querySelector('.alert-danger').cloneNode(true);
            document.getElementById('error-message').innerHTML = '';
            document.getElementById('error-message').appendChild(errorMessage);
            document.getElementById('exampleModal1').classList.add('show');
            document.body.classList.add('modal-open');
        } else {
            // Tắt modal và submit form đăng ký
            document.getElementById('exampleModal1').classList.remove('show');
            document.getElementById('exampleModal1').classList.add('d-none');
            document.body.classList.remove('modal-open');
            document.body.style.paddingRight = '';
            document.getElementById('playerCreate').submit();
        }
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>


</html>